/* Tambah Produk - Mobile (With Variants) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

position: relative;
width: 390px;
height: 1347px;

background: linear-gradient(0deg, #FAF8FF, #FAF8FF), #FFFFFF;


/* BottomNavBar */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20.33px;
gap: 24.7px;

position: absolute;
width: 390px;
height: 64px;
left: 0px;
bottom: 0px;

background: #FFFFFF;
box-shadow: 0px -2px 4px rgba(15, 23, 42, 0.05);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 3;


/* Link - Dashboard */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 66.31px;
height: 34px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #444651;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 66.31px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 66.31px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link - Produk Saya (ACTIVE) */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 4px 16px;

width: 106.66px;
height: 44px;

background: #D0E1FB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 20px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #54647A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 74.66px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 74.66px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #54647A;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link - Pesanan */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 50.64px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 16px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 16px;
height: 20px;

background: #444651;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 50.64px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 50.64px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Link - Kategori */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 51.75px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 19px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 19px;
height: 20px;

background: #444651;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 51.75px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 51.75px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Header - TopAppBar */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 24px;
gap: 69.35px;

width: 390px;
height: 64px;

background: #FAF8FF;
box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;

width: 232.63px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button:margin */

width: 36.02px;
height: 44px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;

position: absolute;
width: 34.67px;
height: 34.67px;
left: -8px;
top: 0px;



/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 18.67px;
height: 18.67px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18.67px;
height: 18.67px;

background: #00236F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Heading 1 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 180.61px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 180.61px;
height: 32px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #00236F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 8px;

width: 20px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;

width: 4px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 4px;
height: 16px;

background: #444651;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Sticky Bottom Actions */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;

position: absolute;
width: 390px;
height: 104px;
left: 0px;
bottom: 64px;

background: rgba(250, 248, 255, 0.8);
backdrop-filter: blur(6px);
/* Note: backdrop-filter has minimal browser support */

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 1;


/* Button */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 7.99px;
isolation: isolate;

width: 342px;
height: 56px;

background: #00236F;
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Button:shadow */

position: absolute;
height: 56px;
left: 0px;
right: 0px;
top: 0px;

background: rgba(255, 255, 255, 0.002);
box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 4px 6px -4px rgba(0, 0, 0, 0.1);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 18px;
height: 18px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 115.03px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Main Content Canvas */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 133.66px;

width: 390px;
height: 1283px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 32px;

width: 390px;
max-width: 448px;
height: 1149.34px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Image Upload Section */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 342px;
height: 139.34px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 342px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Foto Produk */

width: 342px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

width: 342px;
height: 103.34px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Background+Border */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 21.66px 0px 21.67px;

position: absolute;
height: 98px;
left: 0px;
right: 238.67px;
top: 0px;

background: #DAE2FD;
border: 2px dashed #C5C5D3;
border-radius: 8px;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 8px;

width: 29.33px;
height: 34.67px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 29.33px;
height: 26.67px;

background: #00236F;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 47.08px;
height: 16px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Text */

width: 47.08px;
height: 16px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* identical to box height, or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: #00236F;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Background */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
height: 103.33px;
left: 238.67px;
right: 0px;
top: 0px;

background: #F2F3FF;
border-radius: 8px;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 18px;
height: 18px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 18px;
height: 18px;

background: #C5C5D3;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Placeholder for better UX feel */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

position: absolute;
height: 103.33px;
left: 119.33px;
right: 119.33px;
top: 0px;

background: #EAEDFF;
border-radius: 8px;


/* Placeholder */

width: 103.33px;
height: 103.33px;

background: linear-gradient(0deg, #FFFFFF, #FFFFFF), url(.jpg);
background-blend-mode: saturation, normal;
opacity: 0.3;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Product Form */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 490px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Name */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 342px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 338px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 91.56px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12.5px 16px;

width: 342px;
height: 48px;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 308px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Contoh: Kopi Robusta Premium */

width: 308px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #C5C5D3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Price & Stock Grid */

width: 342px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

position: absolute;
height: 72px;
left: 0px;
right: 183px;
top: 0px;



/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 155px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 71.83px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 159px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 159px;
height: 48px;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 21px;
left: 49px;
right: 32px;
top: 13.5px;



/* Text */

width: 11.72px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #6B7280;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
height: 21px;
left: 49px;
right: 17px;
top: 13.5px;



/* Container */

width: 78px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Rectangle:align-stretch */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Rectangle */

width: 15px;
min-width: 15px;
height: 21px;

opacity: 0;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 20.94px;
left: 16px;
top: 25%;
bottom: 25%;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Text */

width: 20.94px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

position: absolute;
height: 72px;
left: 183px;
right: 0px;
top: 0px;



/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 155px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 31.91px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Input */

box-sizing: border-box;

width: 159px;
height: 48px;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
height: 21px;
left: 17px;
right: 32px;
top: 13.5px;



/* Text */

width: 11.72px;
height: 21px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height */
display: flex;
align-items: center;

color: #6B7280;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;

position: absolute;
height: 21px;
left: 17px;
right: 17px;
top: 13.5px;



/* Container */

width: 110px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Rectangle:align-stretch */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;

width: 15px;
height: 21px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Rectangle */

width: 15px;
min-width: 15px;
height: 21px;

opacity: 0;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Category */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 342px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 338px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 58.7px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
isolation: isolate;

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Options */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
isolation: isolate;

width: 342px;
height: 48px;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* image clip */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 12px 9px 12px 309px;

position: absolute;
left: 0px;
right: 0px;
top: 0px;
bottom: 0px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* image */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 30%;
right: 30%;
top: 40%;
bottom: 40%;

border: 1.8px solid #6B7280;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 308px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* Pilih Kategori */

width: 308px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;

color: #131B2E;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 12px;
right: 16px;
top: 25%;
bottom: 25%;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Icon */

width: 12px;
height: 7.4px;

background: #444651;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Description */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-end;
padding: 0px;
gap: 4px;

width: 342px;
height: 202px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Label */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 338px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Text */

width: 115.05px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Textarea */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 16px 16px 112px;

width: 342px;
height: 178px;
overflow: scroll;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 308px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Jelaskan keunggulan dan detail produk Anda... */

width: 308px;
height: 48px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
display: flex;
align-items: center;

color: #C5C5D3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Section - Status Card (Bento-lite style) */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 342px;
height: 256px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Heading 2 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 342px;
height: 32px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Varian Produk */

width: 342px;
height: 32px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */
display: flex;
align-items: center;

color: #00236F;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Warna Produk Toggle & Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 342px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 199px;

width: 342px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 4px;

width: 99px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label → Warna Produk */

width: 95px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
isolation: isolate;

width: 44px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

width: 44px;
height: 24px;

background: #DAE2FD;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background+Border */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;

background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Input */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 12.5px 16px;

width: 342px;
height: 48px;

background: #FFFFFF;
border: 1px solid #C5C5D3;
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 308px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* Contoh: Merah, Biru, Hitam */

width: 308px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;

color: #C5C5D3;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Ukuran Produk Toggle & Options */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 342px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 194.48px;

width: 342px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label:margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 0px 0px 4px;

width: 103.52px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Label → Ukuran Produk */

width: 99.52px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
isolation: isolate;

width: 44px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Background */

width: 44px;
height: 24px;

background: #DAE2FD;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Background+Border */

box-sizing: border-box;

position: absolute;
width: 20px;
height: 20px;
left: 2px;
top: 2px;

background: #FFFFFF;
border: 1px solid #D1D5DB;
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Container */

width: 342px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10.5px 30.58px 11.5px;

position: absolute;
width: 73.5px;
height: 48px;
left: 0px;
top: 0px;

border: 1px solid #C5C5D3;
border-radius: 8px;


/* Text */

width: 10.34px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10.5px 29.06px 11.5px 29.05px;

position: absolute;
width: 73.5px;
height: 48px;
left: 89.5px;
top: 0px;

border: 1px solid #C5C5D3;
border-radius: 8px;


/* Text */

width: 13.39px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10.5px 31.5px 11.5px;

position: absolute;
width: 73.5px;
height: 48px;
left: 179px;
top: 0px;

border: 1px solid #C5C5D3;
border-radius: 8px;


/* Text */

width: 8.5px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10.5px 26.72px 11.5px;

position: absolute;
width: 73.5px;
height: 48px;
left: 268.5px;
top: 0px;

border: 1px solid #C5C5D3;
border-radius: 8px;


/* Text */

width: 18.06px;
height: 24px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
display: flex;
align-items: center;
text-align: center;

color: #444651;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Overlay */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px;
gap: 16px;

width: 342px;
height: 120px;

background: rgba(208, 225, 251, 0.3);
border-radius: 12px;

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Margin */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 4px 0px 0px;

width: 20px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon */

width: 20px;
height: 20px;

background: #54647A;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 4px;

width: 237.48px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Heading 3 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 237.48px;
height: 20px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 95.98px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
display: flex;
align-items: center;
letter-spacing: 0.14px;

color: #38485D;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 237.48px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Text */

width: 237.48px;
height: 48px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
/* or 133% */
display: flex;
align-items: center;
letter-spacing: 0.24px;

color: rgba(84, 100, 122, 0.8);


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
